.wrapper {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.wrapper-height {
    height: 100%;
}
.content {
    background-color: var(--color-box-footer);
    border: 1px solid rgba(0, 0.3, 0, 0);
    border-radius: 6px; 
    height: 90%;
    width: 70%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}
.content-width {
    width: 100% !important;
}

@media (max-width: 1100px) {
    .content {
        width: 90% !important;
    }
}
