.wrapper {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.wrapper-height {
    height: 100%; 
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.content {
    background-color: var(--color-box-footer);
    border: 1px solid rgba(0, 0.3, 0, 0);
    border-radius: 6px; 
    margin: 20px 0 30px 0;
    height: 90%;
    width: 70% !important;
}

@media (max-width: 1100px) {
    .content {
        width: 90% !important;
    }
}
