.storybook-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    outline-style: none;
    line-height: 1;
}
.storybook-button--primary {
    color: var(--color-button-text);
    background-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--primary:hover {
    background-color: var(--color-primary-darker);
    box-shadow: rgba(250, 250, 250, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--secondary {
    color: var(--color-button-text);
    background-color: transparent;
    box-shadow: rgba(250, 250, 250, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--secondary:hover {
    background-color: var(--color-text-title);
    color: var(--color-button-text);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.font-black {
    background-color: transparent;
    color: var(--color-text-title);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.font-black:hover {
    background-color: var(--color-text-title);
    color: var(--color-button-text);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:disabled:hover,
button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;
}

.storybook-button--small {
    font-size: 12px;
    padding: 10px 16px;
}

.storybook-button--medium {
    font-size: 14px;
    padding: 11px 20px;
}

.storybook-button--large {
    font-size: 16px;
    padding: 12px 24px;
}
  