.wrapper-about {
  height: 100%; 
  width: 100%;
  display: flex;
  justify-content: center;
}
.content {
  background-color: var(--color-box-footer);
  border: 1px solid rgba(0, 0.3, 0, 0);
  border-radius: 6px; 
  margin-top: 20px;
  height: 90%;
  width: 70%;
}
h1 {
 padding: 25px 25px 20px 25px; 
}
p {
  padding: 7px 25px 0 25px;
}

@media (max-width: 1100px) {
  .content {
      width: 90%;
  }
}
