<app-storybook-square-white>
  <div>
    <div class="box-header">
      <span class="box-header-title">
        <a [routerLink]="['/']">
          <i class="fa fa-home"></i>
        </a>
        <p>{{ restaurant?.name }}</p>
      </span>
    
      <span class="box-header-title">
        <a [routerLink]="['/restaurant/jack-daniels/reviews']">
          <i class="fa fa-star"></i>
        </a>
        <p>{{ restaurant?.rating }}</p>
      </span>
    </div>
    
    <div class="box-body">
      <div *ngIf="restaurant">
          <img class="box-img-detail" [src]="restaurant?.imagePath" />
      </div>

      <dl class="box-body-information">
        <dt>Categoria</dt>
        <dd>{{ restaurant?.category }}</dd>
        <dt>Quem somos</dt>
        <dd>{{ restaurant?.about }}</dd>
        <dt>Horários</dt>
        <dd>{{ restaurant?.hours}}</dd>
      </dl>
    </div>
    
    <div class="box-footer">
      <a routerLinkActive="detail-active" [routerLink]="['menu']">
        Menu
      </a>

      <a routerLinkActive="detail-active" [routerLink]="['reviews']">
        Avaliações
      </a>
    </div>
  </div>
</app-storybook-square-white>

<div class="row">
  <router-outlet></router-outlet>
</div>
  