input {
  color: var(--color-text-base);
  margin: 0;
}

.input-block {
  position: relative;
}

.input-block input {
  width: 100%;
  height: 2rem;
  border-radius: 0.8rem;
  background: var(--color-box-white);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1rem;
  font: 1.1rem Archivo;
}

.input-block:focus-within::after {
  width: calc(100% + 0.1rem);
  height: 2px;
  content: "";
  background: var(--color-primary-light);
  position: absolute;
  left: 1rem;
  right: 1rem;
  margin-bottom: 7px;
  bottom: 0;
}

span {
  padding-left: 8px;
  color: var(--color-text-base);
  width: 100%;
  font-weight: 600;
}

@media (max-width: 1100px) {
  /* Garantir que o mobile não vai dar zoom */
  input[type='text'],
  input[type='number'],
  textarea {
    font: 16px Archivo !important;
  }
}

/* Garantir que o mobile não vai dar zoom */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px !important;
  }
}

/* Garantir que o mobile não vai dar zoom */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}