input {
  color: var(--color-text-base);
  margin: 0;
}

.input-block {
  position: relative;
}

.input-block input {
  width: 100%;
  height: 2rem;
  border-radius: 0.8rem;
  background: var(--color-box-white);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1rem;
  font: 1.1rem Archivo;
}

.input-block:focus-within::after {
  width: calc(100% + 0.1rem);
  height: 2px;
  content: "";
  background: var(--color-primary-light);
  position: absolute;
  left: 1rem;
  right: 1rem;
  margin-bottom: 7px;
  bottom: 0;
}

.input-block-20 input {
  width: 20%;
  height: 2rem;
  border-radius: 0.8rem;
  background: var(--color-box-white);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1rem;
  font: 1.1rem Archivo;
}

.input-block-20:focus-within::after {
  width: calc(100% + 0.1rem);
  height: 2px;
  content: "";
  background: var(--color-primary-light);
  position: absolute;
  left: 1rem;
  right: 1rem;
  margin-bottom: 7px;
  bottom: 0;
}

@media (max-width: 1100px) {
  .input-block input {
    font: 0.92rem Archivo;
  }

  .input-block-20 input {
    font: 0.92rem Archivo;
  }
}