.wrapper {
    width: 100%;
    padding: 3px 0;
    margin: 0;
    color: var(--color-text-base);
}

input {
    padding: 0;
    margin: 0;
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: var(--color-box-white);
    border: 1px solid var(--color-text-complement);
    content: '';
    display: inline-block;
    visibility: visible;
    cursor: pointer;
}

input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: var(--color-primary-light);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid var(--color-box-white);
}

span {
    margin-left: 7px;
    padding: 0;
}

.input-money {
    width: 135px;
    padding: 10px 20px 5px 10px;
    margin: 4px 0 0 24px;
    border: 1px solid var(--color-line-in-white);
    border-radius: 4px;
    text-align: right;
}

.box-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-select > select {
    margin-left: 4px;
}

.imobBoxTipo {
   width: 220px;
   height: 34px;
   overflow: hidden;
   border: 1px solid var(--color-line-in-white);
   color: var(--color-text-base);
   padding-left: 5px;
   margin-bottom: -4px;
}

.imobBoxTipo select {
    width: 260px;
    margin-left: 16px;
    background: var(--color-box-white);
    height: 38px;
    line-height: 38px;
    color: var(--color-text-base);
    font-size: 12px;
}

.span-optional {
    font-size: xx-small;
}

@media (max-width: 1100px) {
    input[type='radio']:after {
        top: -2.4px;
        left: -2.4px;
    }
    
    input[type='radio']:checked:after {
        top: -2.4px;
        left: -2.4px;
    }

    .input-money {
        width: 200px;
    }
}