.has-feedback {
    width: 100%;
    position: relative;
}

.success {
    color: var(--color-secundary-dark);
    padding-left: 15px;
    margin-top: 5px;
    z-index: 1;
    width: 100%;
}

.error {
    color: var(--color-danger);
    padding-left: 15px;
}