section {
    margin-bottom: 6px;
}
.wrapper-card {
    display: flex;
    width: 100%;
    height: 200px;
}
.wrapper-card > img {
    width: 140px;
    padding: 20px 10px;
}
.content-description {
    display: grid;
    text-align: left;
    width: 100%;
    padding: 20px;
    color: var(--color-text-base);
}
.content-description > h1 {
    height: 25px;
}
.content-description > span {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    height: 99px;
}
.content-price {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: var(--color-text-title);
    height: 25px;
}
.content-price > a {
    cursor: pointer;
    color: var(--color-primary);
}
.content-price > a:hover {
    color: var(--color-primary-darker);
}

@media (max-width: 1100px) {
    .wrapper-card > img {
        width: 90px;
        padding: 30px 10px;
    }
    .content-description > span {
        margin-top: 0;
    }
}
