<storybook-square-white classWrapper="true">
  <div class="wrapper">
    <div class="content">
      <h1>Pedido Conluído</h1>
      
      <p>
        Seu pedido foi recebido pelo restaurante. Prepare a mesa que a comida está chegando!
      </p>
      <p *ngIf="!rated">
        <b>Avalie</b> sua experiência:
      </p>
      <p *ngIf="rated">
        Obrigado pela sua avaliação!
      </p>
      <p>
        <app-rating (rated)="rate()" class="rating">
        </app-rating>
      </p>
    </div>
  </div>
</storybook-square-white>
  