.wrapper-menu {
    height: 100%;
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    width: 70%;
}
.content-card {
    width: 70%;
}
.content-cart {
    width: 30%;
}

@media (max-width: 1100px) {
    .content {
      display: inline;
      width: 100%;
    }
    .content-card {
        width: 100%;
    }
    .content-cart {
        width: 100%;
    }
}
