<div *ngIf="!items.length">
  <p>
    Não há itens no seus carrinho. Que tal começar por
    <a [routerLink]="['/restaurant/jack-daniels']"> aqui</a>?
  </p>
</div>
  
<div class="box-item" *ngIf="items.length">
  <div class="wrapper-item" *ngFor="let item of items">
    <div class="content-item">
      <img class="img-item" [src]="item.menuItem.imagePath" />
      <div class="infomation-items">
        <div class="content-name">
          <b>{{ item.menuItem.name }}</b>
          <a (click)="emitRemove(item)" class="btn btn-sm danger">
            <i class="fa fa-remove"></i>
          </a>
        </div>
        <p>{{ item.menuItem.description }}</p>
      </div>
    </div>
    <div class="values-item">
      <div>
        <b>Quantidade:</b>
        
        <a (click)="emitDecreaseQty(item)" class="round-border">
          <i class="fa fa-minus"></i>
        </a>
        {{ item.quantity }}
        <a (click)="emitIncreaseQty(item)" class="round-border">
          <i class="fa fa-plus"></i>
        </a>
      </div>
      <div class="price-item">
        {{ item.value() | currency: 'BRL': 'symbol' }}
      </div>
    </div>
  </div>
</div>
