a {
    color: var(--color-primary-lighter);
    cursor: pointer;
}

a:hover {
    font-weight: 600;
    color: var(--color-primary-darker);
}

.round-border {
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 4px;
    margin: 0 7px;
}

.round-border:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.box-item {
    display: grid;
    text-align: justify;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.wrapper-item {
    border: 1px solid rgba(0, 0.1, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    padding: 15px;
}

.content-item {
    display: flex;
    color: var(--color-text-base);
    border-bottom: 1px solid rgba(0, 0.1, 0, 0.05);
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.img-item {
    width: 80px;
    height: 80px;
    margin-right: 7px;
}

.content-name {
    display: flex;
    justify-content: space-between;
}

.values-item {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-base);
}

@media (max-width: 1100px) {
    .box-item {
        display: initial;
    }

    .wrapper-item {
        width: 91%;
        padding: 15px;
        margin: 4px 0;
    }
}

@media (max-width: 400px) {
    .values-item {
        display: inline;
        text-align: center;
    }

    .price-item {
        margin-top: 12px;
    }
}