<div *ngIf="!items.length">
  <p>
    Não há itens no seus carrinho. Que tal começar por
    <a [routerLink]="['/restaurant/jack-daniels']"> aqui</a>?
  </p>
</div>
  
<div class="wrapper-items" *ngIf="items.length">
  <table class="table table-striped">
    <thead>
      <tr class="tr">
        <th class="th-qtd">Qtd</th>
        <th class="th-item">Item</th>
        <th class="th-description">Descrição</th>
        <th class="th-subtotal">Subtotal</th>
        <th class="th-exclude"></th>
      </tr>
    </thead>

    <tbody>
      <tr class="content-items" *ngFor="let item of items">
        <td class="text-center">
          {{ item.quantity }}
        </td>
        <td>
          {{ item.menuItem.name }}
        </td>
        <td>
          {{ item.menuItem.description }}
        </td>
        <td class="text-right">
          {{ item.value() | currency: 'BRL': 'symbol' }}
        </td>
        <td class="text-right">
          <a (click)="emitIncreaseQty(item)" class="btn btn-sm">
            <i class="fa fa-plus"></i>
          </a>
          <a (click)="emitDecreaseQty(item)" class="btn btn-sm">
            <i class="fa fa-minus"></i>
          </a>
          <a (click)="emitRemove(item)" class="btn btn-sm danger">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
    </tbody>

  </table>
</div>
  