<section>
  <storybook-square-white classContent="content content-width-10">
    <div class="wrapper">
      <div class="box-header">
        <i class="fa fa-shopping-cart"></i>
    
        <h3 class="box-title">Carrinho</h3>
      </div>
    
      <div class="box-body">
        <div class="box-body-empty" *ngIf="!items().length">
          <p>
            Seu carrinho está vazio!
          </p>
        </div>
        <div  class="table-responsive"
              *ngIf="items().length">
            <div class="table">
              <div *ngFor="let item of items()"
                  [@row]="rowState"
                  class="tb-itens">
                <p class="tb-name">
                  ({{ item.quantity }}x)
                  {{ item.menuItem.name }}
                </p>
    
                <p class="tb-price">
                  {{ item.value() | currency: 'BRL': 'symbol'}}
                </p>
    
                <a class="tb-icon" (click)="removeItem(item)">
                  <i class="fa fa-remove"></i>
                </a>
              </div>
              <div class="total">
                <p>Total:</p>
    
                <span>
                  {{ total() | currency: 'BRL': 'symbol' }}
                </span>
              </div>
            </div>
          </div>
      </div>
      <div class="box-footer" *ngIf="items().length">
        <storybook-button fontBlack="true"
                          icon="fa fa-trash"
                          size="small"
                          label="Limpar"
                          (click)="clear()">
        </storybook-button>
        <storybook-button primary="true"
                          icon="fa fa-credit-card"
                          size="small"
                          label="Fechar Pedido"
                          href="order.html"
                          [routerLink]="['/order']">
        </storybook-button>
      </div>
    </div>
  </storybook-square-white>
</section>