.body {
    margin-bottom: 25px;
}

form {
    margin: 18px 55px 50px 20px;
    min-height: 80%;
    text-align: left;
}

.box-header {
    border-bottom: 1px solid var(--color-background);
    color: var(--color-text-base);
    padding-bottom: 7px;
    margin-bottom: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.box-header > p {
    color: var(--color-text-base);
    margin-left: 13px;
    font-size: large;
}

.box-info-user > p {
    font-size: large;
    margin-bottom: 16px;
}

.box-input-user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 18px;
}

.box-input-name {
    width: 50%;
}

.box-input-phone {
    width: 50%;
    margin-left: 6%;
}

.box-info-address > p {
    font-size: large;
    margin-bottom: 16px;
}

.wrapper-address {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.box-input-address {
    width: 50%;
}

.box-input-number {
    width: 19%;
    margin-left: 6%;
}

.box-input-optional {
    width: 25%;
    margin-left: 6%;
}

.box-itens {
    display: flex;
    justify-content: space-between;
    width: 104%;
    margin-bottom: 25px;
}

.content-itens {
    width: 104%;
}

.content-itens > p {
    font-size: large;
    margin-bottom: 8px;
}

.box-payment {
    display: flex;
    justify-content: space-between;
    width: 103%;
    margin-bottom: 25px;
}

.content-payment {
    width: 70%;
}

.content-payment > p {
    font-size: large;
    margin-bottom: 8px;
}

.content-delivery {
    width: 30%;
    text-align: left;
}

.content-delivery > p {
    font-size: large;
    margin-bottom: 8px;
}

.box-footer {
    height: 20%;
    width: 97.6%;
    padding-bottom: 15px;
    text-align: right;
}

.button-back {
    margin-right: 10px;
}

p {
    color: var(--color-text-title);
}

@media (max-width: 1100px) {
    .body {
      height: auto;
    }

    form {
        margin: 18px 20px 50px 15px;
        min-height: 80%;
        text-align: left;
    }

    .box-input-user {
        display: inline-block;
    }

    .box-input-name {
        width: 89%;
        margin-bottom: 7px;
    }
    
    .box-input-phone {
        width: 89%;
        margin-left: 0%;
    }

    .wrapper-address {
        display: inline-block;
    }
    
    .box-input-address {
        width: 89%;
        margin-bottom: 7px;
    }
    
    .box-input-number {
        width: 89%;
        margin-left: 0%;
        margin-bottom: 7px;
    }
    
    .box-input-optional {
        width: 89%;
        margin-left: 0%;
    }

    .box-itens {
        width: 100%;
    }

    .box-payment {
        display: inline-block;
    }

    .box-payment {
        width: 100%;
    }

    .content-payment {
        width: 100%;
        padding-bottom: 18px;
    }

    .content-delivery {
        width: 100%;
    }

    .button-back {
        margin-right: 7px;
    }

    .box-footer {
        width: 96.6%;
    }
}

@media (max-width: 500px) {
    .box-footer {
        width: 93%;
        margin-left: 13px;
        display: flex;
    }
}