<div class="body">
  <storybook-square-white>
    <!-- {{ orderForm.valid }}
    {{ orderForm.value | json }} -->
    <form novalidate
          [formGroup]="orderForm">
      <div class="box-header">
          <i class="fa fa-shopping-cart fa-lg"></i>
          <p>Finalize o seu pedido</p>
      </div>

      <div class="box-info-user">
        <p>Seus dados:</p>

        <div class="box-input-user">
          <div class="box-input-name">
            <storybook-input  ngDefaultControl
                              [(ngModel)]="name"
                              (focusout)="saveLocalStorage('name', name)"
                              [value]="name"
                              formControlName="name"
                              autocomplete="off"
                              label="Nome: *"
                              placeHolder="(ex. Jackson Neves)"
                              [class]="applyError('name')"
                              errorMessage="Seu nome deve conter no mínimo 5 caracteres!">
            </storybook-input>
          </div>

          <div class="box-input-phone">
            <storybook-input  ngDefaultControl
                              formControlName="phone"
                              [value]="phone"
                              [(ngModel)]="phone"
                              (focusout)="saveLocalStorage('phone', phone)"
                              type="number"
                              label="Telefone: *"
                              autocomplete="off"
                              placeHolder="(ex. 47 9 9934-2827)"
                              [class]="applyError('phone')"
                              errorMessage="Campo obrigatório">
            </storybook-input>
          </div>
        </div>
      </div>

      <div class="box-info-address">
        <p>Endereço de Entrega:</p>

        <div class="wrapper-address">
          <div class="box-input-address">
            <storybook-input  ngDefaultControl
                              formControlName="address"
                              [value]="address"
                              [(ngModel)]="address"
                              (focusout)="saveLocalStorage('address', address)"
                              label="Endereço: *"
                              autocomplete="off"
                              placeHolder="(ex: Rua chuville)"
                              [class]="applyError('address')"
                              errorMessage="Campo obrigatório!">
            </storybook-input>
          </div>

          <div class="box-input-number">
            <storybook-input  ngDefaultControl
                              formControlName="number"
                              [value]="number"
                              [(ngModel)]="number"
                              (focusout)="saveLocalStorage('number', number)"
                              type="number"
                              label="Número: *"
                              autocomplete="off"
                              placeHolder="(ex: 100)"
                              [class]="applyError('number')"
                              errorMessage="Campo obrigatório!">
            </storybook-input>
          </div>

          <div class="box-input-optional">
            <storybook-input  ngDefaultControl
                              formControlName="optionalAddress"
                              [value]="optionalAddress"
                              [(ngModel)]="optionalAddress"
                              (focusout)="saveLocalStorage('optionalAddress', optionalAddress)"
                              [class]="applyError('optionalAddress')"
                              label="Complemento:"
                              autocomplete="off"
                              placeHolder="(ex: Apto 101, BL 1)">
            </storybook-input>
          </div>
        </div>
      </div>

      <div class="box-itens">
        <div class="content-itens">
          <p>Itens do Pedido:</p>
          
          <app-order-items  [items]="cartItems()"
                            (increaseQty)="increaseQty($event)"
                            (decreaseQty)="decreaseQty($event)"
                            (remove)="removeItem($event)">
          </app-order-items>
        </div>
      </div>

      <div class="box-payment">
        <div class="content-payment">
          <p>Formas de Pagamento:</p>
          <storybook-radio-button [options]="dbJson"
                                  formControlName="paymentOption">
          </storybook-radio-button>
        </div>

        <div class="content-delivery">
          <p>Frete e Total:</p>
          <app-delivery-costs [delivery]="delivery"
                              [itemsValue]="itemsValue()">
          </app-delivery-costs>
        </div>
      </div>
    </form>

    <div class="box-footer">
      <storybook-button fontBlack="true"
                        label="Escolher mais produtos"
                        class="button-back"
                        icon="fa fa-caret-square-left"
                        [routerLink]="['/restaurant/jack-daniels']">
      </storybook-button>
      <storybook-button primary="true"
                        icon="fa fa-credit-card"
                        label="Concluir Pedido"
                        (click)="checkOrder(orderForm.value)"
                        [disabled]="!orderForm.valid || cartItems().length === 0"
                        [routerLink]="['/order-summary']">
      </storybook-button>
    </div>
  </storybook-square-white>
</div>