.snackbar {
  min-width: 250px;
  background-color: var(--color-primary-darker);
  color: var(--color-title-in-primary);
  border-radius: 1px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 40%;
  bottom: 30px;
}
  
@media (max-width: 1100px) {
  .snackbar {
    position: sticky;
  }
}